
html{
    background: black;
}
:root {
    font-size: 16px;

    
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    background-color: purple;
}

.card{
    position: absolute;
    width: 15rem;
    top: 2em;
    right: 2em;
    aspect-ratio: 0.618;
    background: var(--bg-primary);
    border-radius: .5rem;
}

.navbar {
    width: 5rem;
    /* width: 16rem; */
    height: 100dvh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: hidden  ;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover {
    width: 16rem;
    overflow: hidden scroll ;

}
.navbar:hover .link-text {
    display: block;
}
.icon {
    fill: greenyellow;
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg{
    transform: rotate((0deg));
    transition: transform var(--transition-speed);

}

.navbar:hover .logo svg{
    transform: rotate(-180deg)

}



#holder{
    display: flex;
    position: fixed;
    height: 100vh;
    width: calc(100dvw - 16rem);
    right: 0;
    justify-content: center;
    align-items: center;
}