html {
    background: black;
}
html * {
    font-family: "Roboto Condensed", sans-serif;
}
:root {
    font-size: 16px;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    /* --bg-secondary: pink; */
    --transition-speed: 600ms;
    --hiHue: hsl(0, 0%, 100%);
    --lowHue: hsl(0, 0%, 100%);

    --cardHiHue: #141418;
    --cardLowHue: #141418;
}
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    background-color: purple;
}

.navbar {
    width: 5rem;
    height: 100dvh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: hidden;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
}
.home-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    margin: 0.5em;
    border-radius: 0.5em;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    margin: 0.5em;
    border-radius: 0.5em;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    /* background: var(--bg-secondary); */
    background: linear-gradient(to right, var(--cardHiHue), var(--cardLowHue));
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover {
    width: 16rem;
    overflow: hidden scroll;
}
.navbar:hover .link-text {
    display: block;
}
.icon {
    fill: greenyellow;
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
    transform: rotate((0deg));
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

#holder {
    display: flex;
    position: fixed;
    height: 100vh;
    width: calc(100dvw - 16rem);
    right: 0;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-rows: 3rem 12rem auto;
    z-index: 2;
    position: absolute;
    width: 22rem;
    top: 2em;
    right: 2em;
    /* aspect-ratio: 0.618; */
    border-radius: 0.5rem;
    /* border: red 1px solid; */
    background: linear-gradient(to top, var(--hiHue), var(--lowHue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 2fr 1fr;
}

.name > h2 {
    margin: auto;
}
.equ {
    flex-direction: column;
    justify-content: center;
}
.equ-list {
    display: grid;
    grid-template-rows: auto;
    height: 100%;
    text-align: left;
    align-items: center;
    margin: 0;
}
.equ-list > li {
    font-size: 1.5rem;
    list-style-type: none;
}
.param-pair {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.reset {
    outline: red 1px solid;
    display: grid;
    text-align: center;
}
.param-value {
    text-align: center;
    font-size: 1.5rem;
}
.para-list {
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1em;
}
#attractor-name {
    cursor: pointer;
}
/* #attractor-name::after{
    width: 100px;
    height: 100px;
    outline: red solid 1px;
    content: 'hello';
    margin: 0 1em;
} */
.attractor-name {
    cursor: pointer;
}
.reset-btn {
    cursor: pointer;
}

.spinner {
  
    /* outline: red solid 1px; */
    background-image: url(spinner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    /* color: var(--lowHue); */
}


