/* .menu {
  
    position: absolute;
    width: 300px;
    aspect-ratio: 0.618;
    background: lightgray;
    top: 1rem;
    left: 1rem;
    border-radius: 1em;
    outline: red solid 1px;

}

.title-box {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1em auto;
    background: green;
    
}
.title-box hr {
    margin-top: -0.4em;
    margin-bottom: 1em;
    width: 80%;
    height: 0.1em;
    box-sizing: content-box;
    border: none;
    background: black;
}

h3{
    display: inline-block;
    font-weight: 500;
    font-size: 1.4em;
    text-align: center;
 }
.intro {
    width: 170px;
    margin: 0 auto;
    color: #fff;
    font-family: "Droid Serif", serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    background: pink;
} */


:root{
    font-size: 16px;
    
    --text-primary: red;
    --text-secondary: yellow;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

}
body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: 0.25rem;

}
body::-webkit-scrollbar-track{
    background-color: black
}
body::-webkit-scrollbar-thumb{
    background-color: purple;
}
main{
    margin-left: 5rem;
    padding: 1rem;
 


}
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text{
    display: none;
    margin-left: 1rem;

}
.nav-link svg{
    min-width: 2rem; 
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;

}
.navbar:hover .link-text{
    display: block;
}